@font-face {
  font-family: 'Segoe UI';
  src: url(../fonts/SegoeUI.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Segoe UI';
  src: url(../fonts/SegoeUI-Bold.ttf);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Segoe UI';
  src: url(../fonts/SegoeUI-Black.ttf);
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Segoe UI';
  src: url(../fonts/SegoeUI-Light.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Segoe UI';
  src: url(../fonts/SegoeUI-SemiBold.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url(../fonts/Ubuntu-B.ttf);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-ruble:before {
  content: "\e90c";
  color: #2a2a2a;
  font-size: 14px;
}
.icon-active:before {
  content: "\e90b";
  color: #898989;
}
.icon-arrow-search:before {
  content: "\e900";
}
.icon-fb:before {
  content: "\e901";
  color: #fff;
}
.icon-letter:before {
  content: "\e902";
  color: #fff;
}
.icon-petrol:before {
  content: "\e903";
  color: #838383;
}
.icon-phone:before {
  content: "\e904";
  color: #579400;
}
.icon-place:before {
  content: "\e905";
  color: #f4f5f8;
}
.icon-power:before {
  content: "\e906";
  color: #838383;
}
.icon-search:before {
  content: "\e907";
}
.icon-skype:before {
  content: "\e908";
  color: #fff;
}
.icon-telephone:before {
  content: "\e909";
  color: #cbcbcb;
}
.icon-vk:before {
  content: "\e90a";
  color: #fff;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  width: 100%;
  vertical-align: top;
}
a {
  color: inherit;
  text-decoration: none;
}
html {
  overflow-x: hidden;
}
html.overflow {
  height: auto;
  position: relative;
  overflow: hidden !important;
  -webkit-overflow-scrolling: touch;
  margin-right: 18px;
}
body {
  font-family: 'Segoe UI', sans-serif;
  overflow: hidden;
}
main {
  background-color: #f7f7f7;
}
.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}
.main__caption {
  font-size: 60px;
  line-height: 83px;
  color: #555555;
  padding-left: 85px;
  position: relative;
  text-transform: uppercase;
}
.main__caption::before {
  content: "";
  width: 60px;
  height: 7px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #579400;
}
.main_button {
  display: block;
  width: 290px;
  height: 50px;
  background-color: #d00019;
  border-radius: 7px;
  border: none;
  color: #fff;
  font-family: inherit;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  outline: none;
}
.main_button span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  background-color: #d00019;
  -webkit-transition: background-color 0.4s, -webkit-transform 0.4s;
  transition: background-color 0.4s, -webkit-transform 0.4s;
  transition: background-color 0.4s, transform 0.4s;
  transition: background-color 0.4s, transform 0.4s, -webkit-transform 0.4s;
}
.main_button span:hover {
  background-color: #ff1531;
}
.main_button span:active {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
  background-color: #7a000f;
}
.main_input {
  font-family: inherit;
  background: #fff;
  border: none;
  border-radius: 7px;
  height: 50px;
  color: #282828;
  font-size: 16px;
  line-height: 50px;
  padding: 0 20px;
  outline: none;
}
/* Header */
.header__top {
  width: 100%;
  background-color: #f9f9f9;
  padding: 15px 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.header__top_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 10px;
  line-height: 10px;
  font-weight: 800;
  color: #666666;
  text-transform: uppercase;
}
.header__top_item {
  margin-right: 70px;
}
.header__top_item:last-child {
  margin-right: 0px;
}
.header__top__link {
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}
.header__top__link:hover {
  color: #d2021b;
}
.header__top__link:active {
  color: #1c1c1c;
}
.main__header {
  background-color: #fff;
  width: 100%;
  height: 70px;
  color: #1e1e1e;
  text-transform: uppercase;
}
.main__header__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  padding: 0 25px;
  font-weight: 800;
}
.header__logo {
  display: block;
  width: 110px;
  height: 45px;
}
.header__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.header__item {
  margin-right: 90px;
}
.header__item:last-child {
  margin-right: 0px;
}
.header__link {
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}
.header__link:hover {
  color: #d2021b;
}
.header__link:active {
  color: #1c1c1c;
}
.header__phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}
.header__phone:hover {
  color: #d00019;
}
.header__phone:hover span:before {
  color: #d00019;
}
.header__phone:active {
  color: #212121;
}
.header__phone:active span:before {
  color: #212121;
}
.header__phone span:before {
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}
.header__phone a {
  padding-left: 5px;
}
/* /Header */
/* Main Slider */
.main__slider {
  position: relative;
  width: 100%;
  height: 690px;
  margin-bottom: 85px;
}
.slider__wrapper {
  height: 100%;
}
.silder__item {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.slider__info {
  height: 100%;
}
.slider__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.slider__caption {
  font-family: 'Ubuntu', sans-serif;
  font-size: 56px;
  line-height: 105px;
  color: #222f21;
  max-width: 740px;
  width: 100%;
  margin-left: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.slider__caption span {
  padding: 10px 0px 20px;
  -webkit-box-shadow: -20px 0 0 rgba(255, 255, 255, 0.5), 20px 0 0 rgba(255, 255, 255, 0.5);
  box-shadow: -20px 0 0 rgba(255, 255, 255, 0.5), 20px 0 0 rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
}
.slider__arrow {
  position: absolute;
  left: 25px;
  top: 50%;
  width: 50px;
  height: 50px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
.slider__arrow span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-transition: background-color 0.4s, -webkit-transform 0.4s;
  transition: background-color 0.4s, -webkit-transform 0.4s;
  transition: background-color 0.4s, transform 0.4s;
  transition: background-color 0.4s, transform 0.4s, -webkit-transform 0.4s;
}
.slider__arrow span:before {
  font-size: 10px;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}
.slider__arrow.next {
  left: initial;
  right: 25px;
}
.slider__arrow.next span {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.slider__arrow:hover span {
  background-color: #ffffff;
}
.slider__arrow:hover span:before {
  color: #d00019;
}
.slider__arrow:active span {
  background-color: #ffffff;
  -webkit-transform: scale(0.8) rotate(90deg);
  transform: scale(0.8) rotate(90deg);
}
.slider__arrow:active.next span {
  -webkit-transform: scale(0.8) rotate(-90deg);
  transform: scale(0.8) rotate(-90deg);
}
.slider__dots__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 20px;
  height: 23px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #f2f5f8;
  border-radius: 30px;
  padding: 0px 15px;
}
.slider__dots__item {
  border-radius: 3px;
  background-color: #b5b5b5;
  width: 20px;
  height: 7px;
  margin-right: 10px;
  cursor: pointer;
  -webkit-transition: backgroun-color 0.4s width 0.4s;
  transition: backgroun-color 0.4s width 0.4s;
}
.slider__dots__item:last-child {
  margin-right: 0px;
}
.slider__dots__item.active {
  width: 50px;
  background-color: #222f21;
}
/* /Main Slider */
/* Search auto */
.search__auto__wrapper {
  margin-top: 35px;
  padding-bottom: 150px;
}
.select__radio_wrapper {
  color: #302f22;
}
.select__radio_wrapper > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.select__radio_wrapper > div:last-child {
  margin-bottom: 0px;
}
.select__radio {
  font-size: 16px;
}
.select__radio label {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 50px;
  cursor: pointer;
  margin-top: 20px;
}
.select__radio label:last-child {
  margin-right: 0px;
}
.select__radio label:hover {
  color: #d00019;
}
.select__radio label:hover .custome_radio {
  border-color: #d00019;
}
.select__radio input {
  opacity: 0;
  margin: -1px;
  width: 0px;
  height: 0px;
  position: absolute;
}
.select__radio input:checked + .custome_radio {
  border-color: #579400;
}
.select__radio input:checked + .custome_radio:before {
  display: initial;
}
.select__radio input:checked ~ .type:hover {
  color: #302f22;
}
.select__radio .type {
  padding-left: 5px;
}
.select__radio .custome_radio {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  border: 1px solid #a7a7a7;
  position: relative;
}
.select__radio .custome_radio::before {
  display: none;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #579400;
}
.select__title {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 5px;
}
.search__input {
  position: relative;
}
.search__input span {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.search__input .main_input {
  width: 470px;
}
.search__input .main_input:focus {
  -webkit-box-shadow: 0px 0px 0px 1px #555555;
  box-shadow: 0px 0px 0px 1px #555555;
}
.main__form .search__input .main_input {
  width: 860px;
}
.main__form .select__drop_list .main_input {
  width: 335px;
}
.select__drop_list {
  font-size: 16px;
  position: relative;
  z-index: 2;
}
.select__drop_list .main_input {
  width: 350px;
  cursor: pointer;
}
.select__drop_list span {
  position: absolute;
  top: 45px;
  right: 20px;
}
.select__drop_list span:before {
  font-size: 7px;
  cursor: pointer;
}
.select__drop_list.active .drop_list {
  padding: 50px 30px 30px;
  max-height: 500px;
  opacity: 1;
}
.select__drop_list .drop_list {
  position: absolute;
  top: 32px;
  left: -10px;
  background-color: #fff;
  width: 355px;
  max-height: 50px;
  padding: 0px 20px;
  opacity: 0;
  overflow: hidden;
  z-index: -1;
  border-radius: 7px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: max-height 0.4s, padding 0.4s, opacity 0.4s;
  transition: max-height 0.4s, padding 0.4s, opacity 0.4s;
}
.select__drop_list .drop_item {
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
}
.select__drop_list .drop_item:first-child {
  padding-top: 20px;
  border-top: 1px solid #e5e4e4;
}
.select__drop_list .drop_item:first-child.active .icon-active {
  top: 50%;
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}
.select__drop_list .drop_item .icon-active {
  display: none;
}
.select__drop_list .drop_item.active .icon-active {
  display: block;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.select__drop_list .drop_item.active .icon-active:before {
  font-size: 14px;
}
/* /Search auto */
/* Card block */
.card__block_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 30px;
}
.card__block_item {
  width: 350px;
  padding: 30px;
  background-color: #fff;
  margin-bottom: 30px;
  color: #292929;
}
.card__block_item .price {
  font-size: 38px;
  line-height: 38px;
  font-weight: 300;
  margin-bottom: 20px;
}
.card__block_item .price span {
  font-size: 20px;
}
.card__block_item .img {
  position: relative;
  margin-bottom: 30px;
}
.card__block_item .img .offers {
  position: absolute;
  right: 0;
  top: 0;
  color: #579400;
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
}
.card__block_item .title {
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 20px;
}
.card__block_item .info__list {
  margin-bottom: 20px;
}
.card__block_item .info__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 16px;
}
.card__block_item .type {
  padding-left: 25px;
  color: #838383;
  position: relative;
}
.card__block_item .type span {
  position: absolute;
  left: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.card__block_item .description {
  font-weight: 800;
}
.more_card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 100%;
  font-weight: 800;
  font-size: 14px;
  color: #2a2a2a;
  text-transform: uppercase;
  padding-right: 50px;
  position: relative;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}
.more_card:before {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 30px;
  height: 3px;
  background-color: #2a2a2a;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.more_card:hover {
  color: #d00019;
}
.more_card:hover:before {
  background-color: #d00019;
}
.more_card:active {
  color: #2a2a2a;
}
.more_card:active:before {
  background-color: #2a2a2a;
}
/* /Card block */
/* Sale block */
.sale_block {
  margin-top: 50px;
  margin-bottom: 150px;
}
.title__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 30px auto;
  color: #2a2a2a;
  padding: 0 10px;
}
.title__item {
  font-size: 16px;
  font-weight: 500;
  position: relative;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}
.title__item.main {
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  font-weight: 800;
}
.title__item span {
  position: absolute;
  left: -10px;
  top: 4px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.title__item span:before {
  font-size: 6px;
}
.title__item.next span {
  left: initial;
  right: -10px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.title__item.main span {
  left: 50%;
  top: initial;
  bottom: -15px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.title__item:hover {
  color: #d00019;
}
.title__item:hover span:before {
  color: #d00019;
}
.title__item:active {
  color: #2a2a2a;
}
.title__item:active span:before {
  color: #2a2a2a;
}
.sale_slider__wrapper {
  width: 100%;
  background-color: #fff;
  padding: 35px 0px;
}
.sale_slider__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.sale_slider__item .img {
  width: 45%;
}
.sale_slider__item .inforamtion {
  width: 55%;
  font-size: 16px;
  line-height: 24px;
  margin-left: 40px;
}
.sale_slider__item .inforamtion p {
  margin-bottom: 25px;
}
.sale_slider__item .inforamtion p span {
  color: #d00019;
  font-weight: 800;
}
.sale_slider__item .inforamtion.active .information__list {
  max-height: 500px;
  -webkit-transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
  transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
}
.sale_slider__item .list__title {
  font-size: 18px;
  color: #555555;
  margin-bottom: 15px;
}
.sale_slider__item .information__list {
  max-height: 75px;
  overflow: hidden;
  -webkit-transition: max-height 0.8s cubic-bezier(0, 1, 1, 1);
  transition: max-height 0.8s cubic-bezier(0, 1, 1, 1);
}
.sale_slider__item .information__item {
  padding-left: 10px;
  position: relative;
}
.sale_slider__item .information__item::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 13px;
  width: 5px;
  height: 1px;
  background-color: #555555;
}
.sale_slider__item .more_info {
  cursor: pointer;
  margin-top: 10px;
  text-decoration: underline;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
  font-size: 16px;
}
.sale_slider__item .more_info:hover {
  color: #d00019;
}
.sale_slider__item .more_info:active {
  color: initial;
}
/* /Sale block */
/* Style body */
.style_body__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 35px 0 140px;
}
.style_body__item {
  width: 350px;
  height: 270px;
  background-color: #fff;
  padding: 50px 30px 30px;
  margin-bottom: 30px;
  font-size: 22px;
  line-height: 40px;
  font-weight: 500;
  text-align: center;
}
/* /Style body */
/* Call back */
.call_back__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 700px;
  color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.call_back__form .main_input:focus {
  -webkit-box-shadow: 0px 0px 0px 1px #555555;
  box-shadow: 0px 0px 0px 1px #555555;
}
.call_back__title {
  max-width: 760px;
  width: 100%;
}
.call_back__title h3 {
  font-family: "Ubuntu", sans-serif;
  font-size: 56px;
  line-height: 65px;
  text-transform: uppercase;
}
.call_back__title p {
  font-size: 16px;
  line-height: 24px;
}
.call_back__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 40px;
}
.call_back__form .main_input {
  width: 255px;
}
.call_back__form textarea.main_input {
  width: 500px;
  height: 120px;
  resize: none;
}
.call_back__form div {
  margin-right: 30px;
  height: 120px;
}
.call_back__form div:last-child {
  margin-right: 0px;
}
.call_back__info {
  width: 255px;
  height: 100%;
}
.call_back__info label:first-child {
  display: inline-block;
  margin-bottom: 20px;
}
.contact_politics {
  width: 300px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.contact_politics .checkbox {
  opacity: 0;
  width: 0px;
  height: 0px;
  margin: -1px;
  position: absolute;
}
.contact_politics .checkbox:checked + .custome_checkbox span {
  display: block;
}
.contact_politics .custome_checkbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #f1f6f1;
  cursor: pointer;
}
.contact_politics .custome_checkbox span {
  display: none;
}
.contact_politics .custome_checkbox span:before {
  color: #2e599c;
  font-size: 12px;
}
.contact_politics label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}
.contact_politics p {
  display: inline-block;
  width: 90%;
  margin-left: 10px;
  cursor: pointer;
}
.contact_politics p a {
  text-decoration: underline;
}
/* Call back */
/* Seo block */
.seo_block {
  margin: 130px auto;
  font-size: 16px;
  line-height: 24px;
  color: #838383;
}
.seo_block p {
  margin-top: 40px;
}
/* Footer Social */
.footer__social_wrapper {
  width: 100%;
  height: 50px;
  background-color: #323d23;
}
.footer__social_wrapper > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}
.footer__social_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.footer__social_item {
  width: 60px;
  height: 30px;
  border-radius: 5px;
  background-color: #29321d;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 20px;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.footer__social_item:last-child {
  margin-right: 20px;
}
.footer__social_item a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.footer__social_item a:before {
  font-size: 12px;
}
.footer__social_item a.icon-fb:before {
  font-size: 16px;
}
.footer__social_item:hover {
  background-color: #579400;
}
.footer__social_item:active {
  background-color: #29321d;
  -webkit-box-shadow: 0px 0px 0px 1px #354a16;
  box-shadow: 0px 0px 0px 1px #354a16;
}
.footer__contact_phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  color: #cbcbcb;
  font-weight: 800;
}
.footer__contact_phone a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-right: 40px;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}
.footer__contact_phone a:last-child {
  margin-right: 0px;
}
.footer__contact_phone a span {
  display: inline-block;
  margin-right: 7px;
}
.footer__contact_phone a span:before {
  color: inherit;
}
.footer__contact_phone a span.icon-phone:before {
  font-size: 14px;
}
.footer__contact_phone a:hover {
  color: #579400;
}
.footer__contact_phone a:active {
  color: #cbcbcb;
}
.footer__navigation {
  background-color: #2e3820;
  width: 100%;
  padding-bottom: 100px;
}
.footer__navigation > div {
  height: 110px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.footer__navigation .footer__item {
  width: 390px;
}
.footer__navigation .footer__item:nth-child(2) {
  width: 350px;
}
.footer__navigation .footer__info a {
  display: block;
  width: 140px;
}
.footer__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 60px;
  color: #cbcbcb;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 30px;
  font-weight: 800;
}
.footer__title {
  font-size: 14px;
  line-height: 32px;
  color: #fff;
  text-transform: uppercase;
}
